/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/
/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}



/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right;
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left;
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: gray;
     font-size: 24px;
     line-height: 1.4;
     font-family: 'Annie Use Your Telescope', cursive, sans-serif;
}



footer {
     clear: both;
     margin-top: 10px;
}

footer, header {
     background-color: #151515;
     color: gray;
}

header {
     padding-top: 15px;
}


del {
     -webkit-text-decoration-color: red;
     -moz-text-decoration-color: red;
     text-decoration-color: red;
     -webkit-text-decoration-line: line-through;
     -moz-text-decoration-line: line-through;
     text-decoration-line: line-through;
}

h1 {
     text-align: center;
     font-size: 2em;
     font-weight: bold;
}

h2 {
     font-size: 1.5em;
     color: #151515;
     font-weight: bold;
     margin: 10px 2%;
}

h3 {
     font-size: 1.2em;
     color: #151515;
     font-weight: bold;
     margin-left: 2%;
}

ins {
    color: red;
    text-decoration: none;
    font-family: 'Special Elite', Courier, cursive, sans-serif;
    font-size: .85em;
}

li {
  width: 125px;
  float: left;
  margin: 0 1%;
}

li.flushed {
   /* TO DO: add the webkit etc versions of transform */
     animation-duration: 3s;
     transform: rotate(-45deg);
}

li a {
    position: relative;
    text-decoration: none;
    color: black;
    top: -14px;
    font-size: .8em;
    background-image: url("../images/flush.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    width: 125px;
    display: block;
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 30px;
    text-align: center;
}

nav {
     margin: 0 auto;
}

header nav {
     width: 545px;
}

header h1 {
     margin-top: 0;
}

p {
     font-size: 1em;
     color: gray;
     margin: 10px 2%;
}

strong {
     font-weight: bold;
}

ul {
  padding-left: 0px;
  margin: 10px 0;
}


.active {
     border: 1px solid gray;

}


.arrow-right {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #808080;
}

.arrow-left {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right:15px solid #808080;
}

.card {
  float: left;
  margin: 10px 2%;
  padding: 20px;
  background-color: black;
  max-width: 47%;
  text-align: left;
}

.card:first-of-type {
  margin-right: 0;
}

.card iframe, .card img {
  float: left;
  margin-right: 20px;

}
.card h3 {
  color: gray;
  margin-top: 0px;
}

.card p {
  margin-right: 0px;
}


.disabled {
    opacity: 0.6;
    cursor: not-allowed;
    /* visibility: hidden; */
}

.invisible {
  visibility: hidden;
}

.navicon {
	background-image: url("../images/hamburger.png");
	float: right;
	width: 34px;
	height: 41px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
/* while not in media query */
	display: none;
}

#artscraft img {
  max-width: 85%;
}
#backstory {
     float: left;
     margin: 20px 3% 20px 0%;
     width: 61%;
}

#copyright {
     float: left;
     text-align: right;
     width: 20%;
}

#disclaimer {
     float: left;
     width: 80%;
}

#essay-arrows {
     display: block;
     text-align: left;
     color: #808080;
}

#essay-arrows.hidden {
     display: none;
}

#gif {
     border: 3pt solid #151515;
     border-radius: 30px;
     margin: 20px 3%;
     padding: 5px 1%;
     width: 30%;
     float: left;
     text-align: center;
}

#gif img {
     width: 95%;
}

#glossary {
  margin-left: 2%;
}

#essay {
     margin: 20px 3%;
     width: 55%;
     float: left;
}
#essay img, #gallery-right iframe {
     width: 100%;
}

#gallery-right {
     float: left;
     margin: 20px 3% 20px 0;
     width: 36%;
}

#gallery-right h2 {
  margin-left: 0;
}

.page1, .page2 {
  color: black;
  background-color: #808080;
  border-radius: 20px;
  padding: 2px;
  display: inline-block;
  width: 75px;
  font-size: 0.8em;
  text-align: center;
  float: right;
  margin-top: 1.1em;
}

.page1, .page2 {
  margin-left: 2%;
}

#essay h2 {
  float: left;
}

#page-header.expanded nav {
	display: block;
}

/* when nav is expanded, show close instead of hamburger */
#page-header.expanded .navicon {
	background-image: url("../images/close.png");
}

#student {
     text-align: center;
}

#student-div {
     display: block;
     margin-top: 10px;
}

#student h2 {
     display: inline;
}

/**********************************/
/* RESPONSIVE STUFF */
/**********************************/

/* screen is wide enough to fit multiple entries across on the Arts & Crafts page */
@media all and (min-width: 801px) and (max-width: 1190px), only screen and (min-device-width: 801px) and (max-device-width: 1190px) {

.card {
  float: none;
  max-width: 96%;
}

.card iframe, .card img {
  margin-right: 20px;
}
}


/* can no longer view essay if there are two columns on gallery page */
/* footer starts looking shitty if still two columns */
@media all and (max-width: 800px), only screen and (max-device-width: 800px) {


.card {
  max-width: 96%;
  width: 96%
}

#copyright, #disclaimer {
  width: 100%;
}

#essay, #gallery-right {
  margin: 0px;
  width: 96%;
}

#gallery-right h2 {
  margin-left: 2%;
}

#video, #vocab {
  margin-left: 2%;
  margin-bottom: 10px;
}

}

/* need to switch to hamburger nav instead of flushers, start shrinking text */
@media all and (max-width: 555px), only screen and (max-device-width: 500px) {

body {
  font-size: 18px;
}

.card {
  text-align: center;
}
.card iframe, .card img {
  float: none;
}

.navicon {
			display: block;
      margin-right: 2%;
}

.page1, .page2 {
  width: 50px;
}


#gif, #backstory {
     width: 95%;
}

#page-header {
    padding: 10px 2%;
}

#page-header h1 {
  float: left;
  font-size: 1.8em;
  margin: 0px;
}
#page-header li {
  display: block;
  width: 100%;
  float: none;
  margin: 0;
  text-align: center;
  padding: 10px 0;
}

#page-header li.flushed {
   /* TO DO: add the webkit etc versions of transform */
     transform: none;
}

#page-header li a {
    position: static;
    text-decoration: none;
    color: gray;
    font-size: 1.2em;
    background-image: none;
    display: block;
    font-weight: bold;

    width: 100%;
    display: inline;
}

#page-header nav {
  clear: both;
  display: none;
  margin-top: 5px;
  width: 100%;

}

}

/* shrink header h1 so it still fits w/ navicon */
@media all and (max-width: 420px), only screen and (max-device-width: 400px) {

#page-header h1 {
  font-size: 1.6em;
}
}

/* shrink header h1 further so it still fits w/ navicon */
@media all and (max-width: 375px), only screen and (max-device-width: 375px) {

#page-header h1 {
  font-size: 1.4em;
}
}

/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
     margin: 0 auto;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
